include README.md
include LICENSE
include CHANGELOG.md
include pyproject.toml
recursive-include src/aton_format *.py
recursive-include tests *.py
recursive-include examples *.py
recursive-include docs *.md *.html
